_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.bundle

node_modules
data/riders.json
data/teams.json
data/signups*.json
data/riderHistory.json
data/honourRoll.json
data/results

**/.DS_Store